body{
background: #fafafa;
margin:0;
font-family: 'Source Sans Pro';
}

form{
margin-bottom: 0;
}

.line{
height: 5px;
background:#2980b9;
margin:0;
}

.header{
margin-top:2%;
}

.logo{
margin-left: 5%;
user-select: none;
}

.panel{
float: right;
margin-right: 5%;
}

.panel span{
display: inline-block;
margin-right: 10px;
}

.login{
background: linear-gradient(to right, #40bcdf, #509be2);
height: 33px;
width: 66px;
text-align: center;
line-height: 33px;
border-radius: 3px;
color: #fff;
transition: .4s;
}

.login:hover{
opacity: .8;
transition: .4s;
}

.panel a{
text-decoration: none;
color: #02aab0;
}

.box{
  height:100px;
  width: 1%;
  display: table-cell;
  vertical-align:middle;
}


.search{
background: linear-gradient(to right, #36d1dc, #5b86e5);
height: 100px;
margin-top:3%;
overflow: hidden;
font-style: normal;
}

.searcher{
margin-left: 9.5%;
color:#fff;
font-style: italic;
text-shadow: 0px 1px 1px #11111155;
}

.searchbox{
  position: relative;
  width:81%;
  height: 40px;
  font-style: italic;
  margin: auto;
}

.searchbox_input {
  display: inline-block;
  -webkit-transition: box-shadow .4s ease, background .4s ease;
  transition: box-shadow .4s ease, background .4s ease;
  border: 0;
  border-radius: 16px;
  box-shadow: inset 0 0 0 1px #CCCCCC;
  padding: 0;
  padding-right: 78px;
  padding-left: 17px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  white-space: normal;
  font-style: normal;
  color: #555;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.searchbox_input::-webkit-search-decoration, .searchbox_input::-webkit-search-cancel-button, .searchbox_input::-webkit-search-results-button, .searchbox_input::-webkit-search-results-decoration {
  display: none;
}

.searchbox_input:hover {
  box-shadow: inset 0 0 0 1px #ababab;
}

.searchbox_input:focus, .searchbox_input:active {
  outline: 0;
  box-shadow: inset 0 0 0 1px #999;
  background: #FFFFFF;
}

.searchbox_input::-webkit-input-placeholder {
  color: #999;
  font-style:italic;

}

.searchbox_input::-moz-placeholder {
  color: #999;
  font-style:italic;
}

.searchbox_input:-ms-input-placeholder {
  color: #999;
  font-style:italic;

}

.searchbox_input::placeholder {
  color: #999;
  font-style:italic;

}

.searchbox_submit {
  position: absolute;
  top: 0;
  right: 2%;
  left: inherit;
  margin: 0;
  border: 0;
  border-radius: 0 15px 15px 0;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  line-height: 41px;
  vertical-align: middle;
  text-align: center;
  font-size: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.searchbox_submit::before {
  display: inline-block;
  margin-right: -4px;
  height: 100%;
  vertical-align: middle;
  content: '';
}

.searchbox_submit:hover, .searchbox_submit:active {
  cursor: pointer;
}

.searchbox_submit:focus {
  outline: 0;
}

.searchbox_reset {
  display: none;
  position: absolute;
  top: 0;
  right: 5%;
  left: inherit;
  margin: 0;
  border: 0;
  border-radius: 0 15px 15px 0;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.searchbox_reset:focus {
  outline: 0;
}

.searchbox_reset svg {
  display: block;
  margin: 4px;
  width: 19px;
  height: 19px;
}

.searchbox_input:valid ~ .searchbox_reset {
  display: block;
  -webkit-animation-name: sbx-reset-in;
          animation-name: sbx-reset-in;
  -webkit-animation-duration: .15s;
          animation-duration: .15s;
}

@-webkit-keyframes sbx-reset-in {
  0% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes sbx-reset-in {
  0% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}


.slider{
width: 100%;
height: 400px;
border: 1px solid #888;
border-right: none;
border-left: none;
margin-top:1%;
backdrop-filter: brightness(.5);
}

.slidertitle{
z-index: 999;
}

.slidert1{
margin-left: 9.5%;
font-size: 70px;
color:#fff;
text-shadow: 0 1px 3px #444;
display: block;
font-weight: 700;
margin-top:8%;
position: absolute;
z-index: 999;
}

.slidert2{
margin-left: 9.5%;
display:block;
margin-top:15%;
color:#fff;
text-shadow: 0 1px 2px #444;
font-size: 20px;
word-wrap: break-word;
width: 33%;
font-weight: 600;
font-style: italic;
position: absolute;
z-index: 999;
}

.mySlides {display:none;transition: .5s;}

.yazi{
display: block;
}

.dots:first-child{
margin-left: 9.5%;
margin-top:20%;
position: absolute;
z-index: 999;
}

.dots{
margin-left:30%;
margin-top:20%;
position: absolute;
z-index: 999;
}

.dotwhite{
background:#fff;
width: 12px;
height: 12px;
border: 2px solid #fff;
border-radius: 50%;
display: inline-block;
margin-right: 3px;
cursor: pointer;
transition: .5s;
}

.dot2white{
background: #fff;
width: 12px;
height: 12px;
border:2px solid #fff;
border-radius: 50%;
display: inline-block;
margin-right: 3px;
cursor:pointer;
transition: .5s;
}

.dot{
width: 12px;
height: 12px;
border: 2px solid #fff;
border-radius: 50%;
display: inline-block;
margin-right: 3px;
cursor: pointer;
transition: .5s;
}

.dot2{
width: 12px;
height: 12px;
border: 2px solid #fff;
border-radius: 50%;
display: inline-block;
margin-right: 3px;
cursor: pointer;
transition: .5s;
}

.dot:hover{
background: #fff;
}

.dot:active{
background: #fff;
}


.dot2:hover{
background: #fff;
}

.dot2:active{
background: #fff;
}



.quickreg{
vertical-align: middle;
width: 300px;
height: 330px;
border: 1px solid #ababab;
position: absolute;
right: 9.5%;
margin-top: 35px;
border-radius:10px;
background: #fff;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
text-align: center;
}

.reg{
margin-top: 3%;
font-size: 30px;
color:#444;
font-weight: 700;
font-style: italic;

}

.searchbox2{
  position: relative;
  width:80%;
  height: 40px;
  font-style: italic;
  margin: auto;
  margin-top: 8px;
}

.searchbox  .fas{
color: #444;
}

.searchbox2 .fas{
color: #444;
}

.signup{
margin: auto;
width: 76%;
height: 25px;
background: linear-gradient(to right, #36d1dc, #5b86e5);
padding: 5px;
margin-top: 10px;
border-radius: 6px;
color:#fff;
font-size: 20px;
border: 1px solid #ccc;
font-weight: 600;
transition: .4s;
}

.signup:hover{
box-shadow: 0 1px 6px -2px #33333399;
transition: .3s;
}

.signup a{
text-decoration: none;
color: #fff;
}


.services{
margin: auto;
margin-top: 5%;

color: #4ba6e1;
}

.servicesh{
font-size: 50px;
font-weight: 900;
letter-spacing: 3;
display: block;
text-align: center;
}


.servicesgrids{
width: 81%;
/*height: 270px;*/
background: #f5f5f5;
border: 1px solid #ccc;
margin: auto;
margin-bottom: 5%;
}

.servicesgrid{
width: 16.54%;
height: 135px;
/*background: linear-gradient(to right, #3ec2de, #5396e3) no-repeat;*/
background-size: 100% 135px;
background-position: -18540% 0;
border-style: inset;
border: 1px solid #ccc;
font-size: 30px;
transition: 0.6s;
display: inline-block;
text-align: center;
margin: 0;
margin-right: -4px;
}

.servicesgrid:nth-child(even){
background-position: 18450% 0;
}

.servicesgrid:hover{
background: linear-gradient(to right, #3ec2de, #5396e3) no-repeat;
background-position: 0px 0px;
color: #fff;
transition: 0.6s;
}

.servicesgrid .fas{
margin-top: 12%;
font-size: 50px;
}

.servicesgrid p{
font-style: italic;
font-weight: 400;
margin-top:5%;
}

@mixin white-gradient {
background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

@keyframes scroll {
0% { transform: translateX(0); }
100% { transform: translateX(calc(-250px * 7))}
}

.slider2 {
background: transparent;
box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
height: 100px;
margin: auto;
overflow:hidden;
margin-top: 1%;
position: relative;
width: 81%;
}

.slider2:after{
background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
content: "";
height: 100px;
position: absolute;
width: 200px;
z-index: 2;
right: 0;
top: 0;
transform: rotateZ(180deg);
}

.slider2:before {
background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
content: "";
height: 100px;
position: absolute;
width: 200px;
z-index: 2;
left: 0;
top: 0;
}

.slide-track {
animation: scroll 30s linear infinite;
display: flex;
width: calc(250px * 14);
}

.slide {
height: 100px;
width: 250px;
}



.footer{
background: #5a89e5;
width: 100%;
height: 30%;
margin-top: 6%;
border-top:10px solid #517bce;
}
